[project]
	description = XChat2 plugin, based on SoftSnow filter, used to filter out SPAM and fileserver announcements
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jakub Narębski (jnareb)
[access "refs/for/refs/*"]
	read = group user/Jakub Narębski (jnareb)
	push = group user/Jakub Narębski (jnareb)
	label-Code-Review = -2..+2 group user/Jakub Narębski (jnareb)
	label-Verified = -1..+1 group user/Jakub Narębski (jnareb)
	rebase = group user/Jakub Narębski (jnareb)
	removeReviewer = group user/Jakub Narębski (jnareb)
	submit = group user/Jakub Narębski (jnareb)
[access "refs/heads/*"]
	read = group user/Jakub Narębski (jnareb)
	create = group user/Jakub Narębski (jnareb)
	push = +force group user/Jakub Narębski (jnareb)
	pushMerge = group user/Jakub Narębski (jnareb)
[access "refs/tags/*"]
	push = +force group user/Jakub Narębski (jnareb)
	pushTag = group user/Jakub Narębski (jnareb)
	pushSignedTag = group user/Jakub Narębski (jnareb)
